#footer-section .logo {
  width: 3vw;
  position: absolute;
  bottom: 4vw;
}
#footer-section .fb-logo {
  left: 17.5vw;
}
#footer-section .ig-logo {
  left: 22.5vw;
}
#footer-section .ksea-logo {
  right: 17.5vw;
}
#footer-section h1 {
  position: absolute;
  bottom: 4vw;
  right: 22.5vw;
}
#footer-section .abtus-btn {
  position: absolute;
  left: 27.5vw;
  bottom: 4vw;
  background-color: coral;
  border-radius: 5px;
  padding: 0.5vh 1vh;
  font-size: 1.3vw;
  transition: all .2s ease-in-out;
}