.auction-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.auction-items {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}