.rankingbox {
  top: 6.5%;
  position: absolute;
  width: 77%;
  height: 98vh;
  border-radius: 8px;
  margin-left: 21rem;
  padding: 1rem;
  background-color: #71d9c6;
}

.rankingbox .topthree {
  position: relative;
  width: 100%;
  height: 40vh;
  border-radius: 8px;
  background-color: white;
}

.topthree .relativebox {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 25vh;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.relativebox .firstplace {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 25vh;
  border-radius: 8px;
  background-color: gold;
}

.firstplace .firstperson {
  position: relative;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  background-color: white;
}
.firstplace .firstcontent {
  position: relative;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7vh;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 7px;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
}

.relativebox .secondplace {
  position: absolute;
  width: 140px;
  height: 25vh;
  left: -110%;
  top: 17%;
  border-radius: 8px;
  background-color: silver;
}

.secondplace .secondperson {
  position: relative;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  background-color: white;
}
.secondplace .secondcontent {
  position: relative;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7vh;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 7px;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
}

.relativebox .thirdplace {
  position: absolute;
  width: 140px;
  height: 25vh;
  left: 110%;
  top: 25%;
  border-radius: 8px;
  background-color: #cd7f32;
}

.thirdplace .thirdperson {
  position: relative;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  background-color: white;
}
.thirdplace .thirdcontent {
  position: relative;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 7rem;
  height: 7vh;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 7px;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
}

.rankingbox .wholerankbox {
  position: relative;
  width: 100%;
  height: 56vh;
  margin-top: 1rem;
  border-radius: 8px;
  background-color: white;
}
.wholerankbox .ranktable {
  position: relative;
  top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  line-height: 1.5;
}

.wholerankbox .title {
  width: 30vw;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #f28963;
  border-radius: 6px;
}

.wholerankbox .content {
  border-radius: 6px;
  width: 20vw;
  padding: 10px;
  vertical-align: top;
  background: #eee;
}
