.auctionboxFrame {
  display: flex;
  top: 6.5%;
  position: absolute;
  width: 77%;
  height: 90.5vh;
  border-radius: 8px;
  margin-left: 21rem;
  padding: 0.5rem;
  background-color: #71d9c6;
}

.auctionboxFrame .productFrame {
  width: 25%;
  height: 47%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}
.productFrame .productimage {
  width: 100%;
  height: 56%;
  background-color: gray;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.productFrame .productinfo {
  overflow: hidden;
  padding-left: 7%;
  top: 50%;
  width: 93%;
  height: 40%;
  margin-bottom: 1rem;
  background-color: skyblue;
  border-radius: 8px;
}
