.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile .photo{
  display: flex;
  flex-direction: column;
  width: 30vh;
}
.photo input {
  margin-top: 20px;
}
.profile .info{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.info input {
  width: 100px;
}
.info .btns {
  display: flex;
  flex-direction: row;
}