.navbar {
  height: 20vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 10vh;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 3vw;
  list-style: none;
  align-items: center;
  justify-content: end;
}
.nav-links:hover {
  color: #1888ff;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.wallet-btn {
  margin-left: 6vw;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 1100px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    right: 200%;
    opacity: 1;
    transition: width 0.5s ease;
    padding: 5vh 0;
    border-radius: 10px;
  }
  .nav-menu.active {
    background: #dbdbdb;
    right: 0;
    opacity: 1;
    transition: width 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 1rem 0;
    display: table;
    transition: all .1s ease-in-out;
  }
  .nav-links:hover {
    transform: scale(1.3);
  }
  .wallet-btn {
    margin: 0 2rem;
  }
  .menu-icon {
    display: block;
    float: right;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }
}