#my-ranking {
  padding: 3vw;
  background-color: rgb(207, 233, 193);
  position: fixed;
}
#my-img {
  width: 7vw;
  height: 7vw;
  object-fit: cover;
}
#my-ranking h4{
  font-size: 2.5vw;
}
#my-ranking h5{
  font-size: 2vw;
}
#my-ranking p{
  font-size: 1.7vw;
}