#ranking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#left-ranking {
  width: 25%;
}
#left-ranking h2{
  background-color: rgb(207, 233, 193);
  padding: 4vh 2vw;
  font-size: 2vw;
}
#total-ranking {
  width: 70%;
  background-color: rgb(245, 232, 209);
  padding: 2vw;
}
#total-ranking img {
  padding: 5px;
}
.top3-ranking {
  background-color: rgb(212, 231, 229);
}
.rest-ranking {
  margin-top: 2vw;
  background-color: rgb(240, 223, 240);
}
#top3-img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
}
#rest-img {
  width: 8vw;
  height: 8vw;
  object-fit: cover;
}
thead {
  text-align: center;
}