#ranking {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .2s ease-in-out;
}
#ranking .my-ranking {
  margin-bottom: 4vh;
}
#ranking .my-ranking-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(189, 240, 241);
  border-radius: 30px;
  padding: 2vh;
  margin: 2vh 0 10vh;
}
#ranking h2{
  font-size: 3vh;
  font-weight: 500;
  margin: 0 0 3vh;
}
#ranking .my-ranking p{
  font-size: 2vh;
  margin: 0 0 2vh;
}
#ranking .my-ranking-box img {
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  object-fit: cover;
}
.total-ranking {
  margin: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ranking-wrap {
  flex-wrap: wrap;
  justify-content: start;
}