.display-center {
  width: 65%;
  margin: auto;
  transition: all .2s ease-in-out;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 80vh;
}

/* Footer css */
#footer-section {
  position: absolute;
  bottom: 0;
}
#footer-section .logo {
  width: 4vw;
  position: absolute;
  bottom: 4vh;
}
#footer-section .fb-logo {
  left: 10vw;
}
#footer-section .ig-logo {
  left: 20vw;
}
#footer-section .ksea-logo {
  right: 20vw;
}
#footer-section h1 {
  position: absolute;
  bottom: 5vh;
  right: 25vw;
}